.applicationLayout-header {
	background-color: #083b6e !important;
	display: flex;
	justify-content: space-between;
	color: #fff !important;
}
.applicationLayout-sider {
	background-color: #042e58 !important;
}
.applicationLayout-content {
	padding: 0px;
	margin: 0;
	height: 100vh !important;
	overflow-y: hidden;
	background: transparent !important;
	margin-top: -65px;
}
.applicationLayout-header-logo > img {
	height: 45px;
}
.applicationLayout-header-menu {
	display: -webkit-inline-box;
}
.applicationLayout-header-menu > div {
	margin-left: 10px;
}
.applicationLayout-header-menu .ant-select-arrow {
	color: #f2f2f2 !important;
}
