.appRoot_homePageBG {
	/* background-image: url(../../assets/images/layer-10-copy@2x.jpg); */
	background-size: cover;
	height: 100vh;
}
.appRoot_indexContainer {
	width: 70%;
	height: auto;
	margin: 0px auto;
}
.appRoot_title-heading p {
	font-size: 17px;
	margin-top: 11px;
	color: #465059;
}
.appRoot_title-heading h3 {
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 0px;
	color: #465059;
	width: 100%;
	padding-top: 50px !important;
}
.appRoot_grpBtns button p img {
	width: 40px;
}
.appRoot_grpBtns button p {
	width: 80px;
	height: 80px;
	background-color: #e5f2ff;
	margin: 0px;
	padding: 18px 0px;
	border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	left: 18px;
	top: 11px;
}
.appRoot_grpBtns button::after {
	content: "";
	position: absolute;
	/* background-image: url(../../assets/images/right-arrow-1_2@2x.png); */
	width: 20px;
	height: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	right: 18px;
	top: 44px;
}
.appRoot_grpBtns .appRoot_disabledBTN::before {
	content: "";
	position: absolute;
	/* background-image: url(../../assets/images/coming-soon-tag.png); */
	width: 87px;
	height: 74px;
	background-size: 100%;
	background-repeat: no-repeat;
	left: -11px;
	bottom: -5px;
	z-index: 1;
}
.appRoot_grpBtns .appRoot_disabledBTN {
	color: rgba(255, 255, 255, 0.5);
}
.appRoot_grpBtns .appRoot_disabledBTN:hover {
	cursor: default;
	background-color: #083b6e;
}
.appRoot_grpBtns button {
	border-radius: 5px;
	border: solid 1px #e6e4ea;
	background-color: #083b6e;
	color: #fff;
	margin-bottom: 1em;
	position: relative;
	width: 420px;
	padding: 40px 0px 40px 114px;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
}
.appRoot_grpBtns button:hover {
	background-color: #052647;
}
.appRoot_grpBtns button:focus {
	outline: none;
}
.appRoot_grpBtns {
	margin-top: 3em;
}
.appRoot_grpBtns a {
	color: #fff;
}
