.profileFillProgress_container {
	/* border: 1px solid #bcbcbc; */
	width: 60%;
	margin: auto;
	padding-top: 30px;
}
.profileFillProgress_container_header {
	margin-bottom: 15px;
	display: flex;
}
#ProgressBar {
	margin-bottom: 20px;
}

.text {
	font-size: 20px;
}
.checkBox-text {
	font-size: 20px;
	margin-left: 10px;
}
.submit-button {
	font-size: 20px;
	margin-top: 10px;
}
.messageLine {
	font-size: 16px;
	color: #ff0000;
}
.formelemnt {
	position: absolute;
	left: 50%;
	top: 40%;
}
.item {
	width: 95%;
}
