.internshipJob_card_navLink {
	text-decoration: "none";
}
.internshipJob_card_navLink:hover {
	text-decoration: "none";
}
.internshipJob_card_cardRoot {
	cursor: pointer;
	margin-bottom: 15px;
	padding: 8px;
}
.internshipJob_card_cardRoot:hover {
	border: 1px solid #bcbcbc;
	transition-property: "border";
	transition-duration: ".4s, .8s";
}
.internshipJob_card_title {
	color: darkblue;
	letter-spacing: "0.32px";
	font-size: 20px;
	font-weight: 600;
}
.internshipJob_card_skill {
	color: #777;
	background-color: #ecf0f5;
	padding: 2px 10px;
	min-width: 70px;
	border-radius: 4px;
	text-align: center;
}
.internshipJob_card_skill:hover {
	color: #000;
}
.internshipJob_card_skillRoot {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.internshipJob_card_skillRoot > * {
	margin-right: 10px;
}
.internshipJob_card_statusPendingApproval {
	color: #fff;
	background-color: #f0ad4e;
	border-radius: 18px;
	padding: 0px 10px;
	text-align: center;
	margin-left: 10px;
}
.internshipJob_card_statusApproved {
	color: #fff;
	background-color: #5cb85c;
	border-radius: 18px;
	padding: 0px 10px;
	text-align: center;
	margin-left: 10px;
}
.internshipJob_card_description {
	color: #98a8b7;
	white-space: pre-wrap;
}
.internshipJob_card_actionContainer > div {
	text-align: center;
}
.internshipJob_card_actionContainer > div:last-child {
	text-align: right;
}
.internshipJob_card_actionContainer > div:first-child {
	text-align: left;
}
.internshipJob_card_createDate {
	color: #98a8b7;
}
.internshipJob_card_applicationIcon {
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 2px;
}
.internshipJob_card_actionLink {
	cursor: pointer;
}
.internshipJob_card_actionLink:hover {
	color: #075ff3;
}
.internshipJob_card_actionLink_danger {
	cursor: pointer;
}
.internshipJob_card_actionLink_danger:hover {
	color: #f32a07;
}
.jobCard_title {
	margin-bottom: 10px;
	font-weight: 600;
}


.assign_students{
	width: 150px;
	padding:0px 10px 0px 10px;
	color:white;
	height: 20px;
	border-radius: 10px;
	background-color:#3977f5;

}
.modalContainer{
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;

}
.listContainer{
	display:flex;
	min-width: 500px;
	
}
.avatar_container{
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.student_details{
	width: calc(100% - 350px);
	border-bottom: 1px solid silver;
}
.student_name{
	font-size: 18px;
	color: black;
}
.student_college{
	font-size: 15px;
	color: silver;
}
.student_control{
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	width: 200px;
	border-bottom: 1px solid silver;
}
.student_control>button{
	outline: none;
	border: none;
	background-color: #3977f5;
	color: white;
	width: 80px;height: 30px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.student_control>button:hover{
	opacity: 0.7;
}
